<!DOCTYPE html>
<html lang="en">
<head>
    {{> title}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--Set the descritpion of you site-->
    <meta name="description" content="Syndicate - One Page Bootstrap Multipurpose Template">
    <!--Set author of your site-->
    <meta name="author" content="Awerest - interactive agency">
    <!--Modernizr-->
    <script src="js/modernizr.js" type="text/javascript"></script>
    <!--Main Bootstrap styling-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!--Custom styling-->
    <link rel="stylesheet" href="css/style.css">
    <!--Iconic font - FontAwesome-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <!--Google font-->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Raleway:200,400'>
    <!--Site thumbnail-->
    <link rel="image_src" href="thumbnail.png">
    <!--Browser tab icon aka Favicon-->
    <link rel="icon" type="image/ico" href="favicon.ico">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- AngularJS Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="angular/app.js"></script>
    <script src="angular/plugins/ui-bootstrap.min.js"></script>
    <script src="angular/controllers/HomeCtrl.js"></script>
</head>
<body>
Hello world!
<a href="{{ twitterLink }}">Sign In</a>

<!-- Javascript includes -->
<script src="js/retina.js"></script>
</body>
</html>