.top-section{
    background: url("../img/pattern_bg_green.png") repeat 0 0;
    background: url("../img/bottom_bg.png") repeat-x 0 bottom,
                url('../img/main_bg_green.png') no-repeat center top,
                url('../img/pattern_bg_green.png') repeat 0 0;
    }
.notify-msg{
    color: #475850
    }
.sub-hero-copy,
.unodos .label,
.unodos .sep{
    color: #DCECE6;
    }


/* Orange Buttons looks better on the green */
.notify-btn {
    background-color: #ff7b0d;
    *background-color: #ff7b0d;
    background-image: -moz-linear-gradient(top, #ffa84c, #ff7b0d);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffa84c), to(#ff7b0d));
    background-image: -webkit-linear-gradient(top, #ffa84c, #ff7b0d);
    background-image: -o-linear-gradient(top, #ffa84c, #ff7b0d);
    background-image: linear-gradient(to bottom, #ffa84c, #ff7b0d);
    border-color: #ff7b0d;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffa84c', endColorstr='#ffff7b0d', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }

.notify-btn:hover,
.notify-btn:focus,
.notify-btn:active,
.notify-btn.active,
.notify-btn.disabled,
.notify-btn[disabled] {
    color: #ffffff;
    background-color: #ff7b0d;
    *background-color: #499249;
    }

.notify-btn:active,
.notify-btn.active {
    background-color: #ffa84c \9;
    }