<section class="top-section" xmlns="http://www.w3.org/1999/html">
    <div class="wrap">
        <p class="social pressed-box">
            <a href="/auth/twitter" class="twitter"><i class="icon-twitter-sign"></i> Sign In</a>
        </p>

        <h1>Welcome to Charity Today</h1>

        <h4 class="hero-copy">The next generation charity platform.</h4>

    </div>
    <!-- /Wrap -->
</section>
<!-- /Top Section -->

<section id="bottom" class="bottom-section">
    <div class="row bottom-cols wrap cf">
        <div class="col span12">
            <article>
                <i class="icon-eye-open"></i>
                <h3>Tweets @CharityToday on Twitter</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
            </article>
            <article>
                <div class="col span6">
                    <p>Send your tweets @CharityToday by clicking <a class="btn" href="#/tweet">here</a></p>
                </div>
            </article>
        </div>
    </div>
</section>
<!-- /Bottom Columns -->