<section class="top-section" xmlns="http://www.w3.org/1999/html">
    <div class="wrap">
        <p class="social pressed-box">
            <a href="#" class="twitter"><img ng-src="{[{ user.photos[0].value }]}"></a>
        </p>

        <h1>Welcome to Charity Today</h1>

        <h4 class="hero-copy">The next generation charity platform.</h4>

    </div>
    <!-- /Wrap -->
</section>
<!-- /Top Section -->

<section id="bottom" class="bottom-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form id="tweet" class="form-inline" ng-submit="submit()">
                    <textarea class="form-control" name="tweet" ng-model="tweet.tweet" rows="4" cols="60" required></textarea>
                    <div class="control-group input-append col-md-6">
                        <input type="text" class="form-control" ng-model="tweet.dateToTweet" data-date-format="dd/mm/yyyy" bs-datepicker required>
                        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                    </div>
                    <div class="control-group input-append col-md-6">
                        <input type="text" class="form-control" ng-model="tweet.timeToTweet" bs-timepicker required>
                        <button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></button>
                    </div>
                    <button id="notify-submit" type="submit" class="btn" >Tweet</button>
                </form>
                <p class="alert" ng-show="status.mFlag">{[{ status.msg }]}</p>
            </div>
        </div>
    </div>
</section>
<!-- /Bottom Columns -->